<h1>Zarządzanie rezerwacjami wynajmów</h1>

<button class="btn btn-success" (click)="newBooking()">Nowa rezerwacja</button>
<table class="table">
    
    <thead class="table-secondary">
        <tr>
            <th>Numer rezerwacji: </th>
            <th>Start rezerwacji: </th>
            <th>Koniec rezerwacji: </th>
            <th>Koszty: </th>
            <th> Zarządzaj </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of bookings">
            <td>{{b.bookingId}}</td>
            <td>{{b.startDate | date: 'yyyy-MM-dd'}}</td>
            <td>{{b.endDate | date: 'yyyy-MM-dd'}}</td>
            <td>{{b.finalPrice}} PLN brutto</td>
            <td>
                <button class="btn btn-info" (click)="updateBooking(b)">Aktualizuj</button>
                <button class="btn btn-danger" (click)="deleteBooking(b)">Usuń rezerwację</button>
            </td>           
        </tr>
    </tbody>
</table>