<h1>Wyszukaj wolne samochody</h1> 

<div class="container">
    <h3>Wybierz datę rozpoczęcia i zakończenia najmu</h3>
    
    
    <form (ngSubmit)="findCars()"  #bookingForm="ngForm"> 
        <div class="alert alert-danger" *ngIf="invalidDates">{{errorMessageWrongDates}}</div>
        <fieldset class="form-group">
            Data rozpoczęcia: 
            <input type="date" #startDate="ngModel" [ngModel]="booking.startDate | date: 'yyyy-MM-dd'" (ngModelChange)="booking.startDate = $event" name="startDate" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            Data zakończenia: 
            <input type="date" #endDate="ngModel" [ngModel]="booking.endDate | date:'yyyy-MM-dd'" (ngModelChange)="booking.endDate = $event" name="endDate" class="form-control">
        </fieldset>
        <button class="btn btn-success" type="submit">Pokaż</button>
    </form>

    

    <p>

    </p>


    <table class="table" *ngIf="isChoosen">
        <thead>
            <tr>
                <th>Marka i model</th>
                <th>Rok produkcji</th>
                <th>Nadwozie</th>
                <th>Wyposażenie</th>
                <th>Koszty</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{car.brand}}<br>
                    {{car.model}}
                </td>
                <td>
                    {{car.productionYear | date: 'yyyy-MM-dd'}}
                </td>
                <td>
                    {{car.body}}
                </td>
                <td>
                    Klimatyzacja: {{car.airConditioning}},<br>
                    GPS: {{car.gps}}<br>
                    Silnik: {{car.engine}}<br>
                    Skrzynia biegów: {{car.gearbox}}<br>
                    Kolor: {{car.color}}<br>
                    Liczba pasażerów: {{car.numberPassengers}}<br>
                    Liczba drzwi: {{car.doors}}
                </td>
                <td>
                    {{finalPrice}} PLN brutto
                </td>
                <td>
                    <button type="submit" (click)="bookingThisCar()">Rezerwuj!</button><br>
                    <button type="submit" (click)="changeCar()">Zmień samochód</button>
                </td>
            </tr>
        </tbody>
    </table>

    <p>

    </p>

    <table class="table" *ngIf="!isChoosen" >
        <thead>
            <tr>
                <th>Marka i model</th>
                <th>Rok produkcji</th>
                <th>Nadwozie</th>
                <th>Wyposażenie</th>
                <th>Cena za dzień</th>
                <th>Cena za miesiąc</th>
                <th>Wybierz</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cars">
                <td>
                    Marka: {{c.brand}}<br>
                    Model: {{c.model}}
                </td>
                <td>{{c.productionYear | date:'yyyy-MM-dd'}}</td>
                <td>{{c.body}}</td>
                <td>
                    Klimatyzacja: {{c.airConditioning}}<br>
                    GPS: {{c.gps}}<br>
                    Silnik: {{c.engine}}<br>
                    Skrzynia biegów: {{c.gearbox}}<br>
                    Kolor: {{c.color}}<br>
                    Liczba pasażerów: {{c.numberPassengers}}<br>
                    Liczba drzwi: {{c.doors}}
                </td>
                <td>{{c.price.pricePerDay}} PLN brutto</td>
                <td>{{c.price.pricePerMonth}} PLN brutto</td>
                <td>
                    <button type="submit" (click)="takeCar(c)" class="btn btn-dark" >Wybierz</button>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>