h1{
    
    text-decoration: double;
}
div{
    
    width: 100%;
    border-collapse: collapse;


}
table{
    width: 100%;
    border: 3px;
}

thead{
    
    text-align: center;
}

tbody{
    
    text-align: center;
}


th{
    font-weight: bold;
    
}