<h1> Clients managment panel!</h1>

<button (click)="getClientById()" class="btn btn-success">jeb</button>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Username</th>
                <th>Role</th>
                <th>Permision</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clients">
                <td>{{c.firstname}}</td>
                <td>{{c.lastname}}</td>
                <td>{{c.email}}</td>
                <td>
                    <p>{{c.city}}</p>
                    <p>{{c.street}}  {{c.number}}</p>
                </td>
                <td>{{c.phone}}</td>
                <td>{{c.user.username}}</td>
                <td>{{c.user.roles}}</td>
                <td>{{c.user.permissions}}</td>
                <button class="btn btn-info" (click)="updateClient(c.idClient)">Update</button>
            </tr>
        </tbody>
    </table>
</div>