<h1>Zarządzanie Klientami</h1>


<button (click)="createClient()" class="btn btn-success">Utwórz konto nowego klienta</button>

<div class="container">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Adres</th>
                <th>Telefon</th>
                <th>Nazwa użytkownika</th>
                <th>Role</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clients">
                <td>{{c.firstname}}</td>
                <td>{{c.lastname}}</td>
                <td>{{c.email}}</td>
                <td>
                    <p>{{c.city}}</p>
                    <p>{{c.street}}  {{c.number}}</p>
                </td>
                <td>{{c.phone}}</td>
                <td>{{c.user.username}}</td>
                <td>{{c.user.roles}}</td>
                <button class="btn btn-info" (click)="updateClient(c)">Edytuj </button>
                <button class="btn btn-danger" (click)="deleteClient(c)">Usun</button>
            </tr>
        </tbody>
    </table>
</div>